@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

body,
html {
  font-family: "Rubik", sans-serif;
  color: #303841;
}

:root {
  --White: #ffffff;
  --Black: #303841;
  --Gray: #777777;
  --Yellow: #f6c90e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
