.content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  max-width: 760px;
  margin: 0 auto;

  &::before {
    content: "";
    display: block;
    position: fixed;
    width: 300%;
    height: 100%;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    transform: translateX(-50%) skewY(-8deg);
    background-color: var(--Yellow);
    z-index: -1;
    animation: animation 8s ease-in-out infinite alternate;
  }
}

@keyframes animation {
  0% {
    transform: translateX(-50%) skew(0deg, -8deg);
  }

  to {
    transform: translateX(-30%) skew(8deg, -4deg);
  }
}
